{% extends 'main/page.html' %}
{% block title %} Login {% endblock %}

{% block content %}
<div align="center" class="container-fluid">
     <fieldset>
             <legend>Recuperar Contraseña</legend>
     </fieldset>
     <form method="post" class="form-horizontal">
    {% csrf_token %}
       <div class="form-group">
            {{ form.new_password1.errors }}
        <label  class="control-label col-sm-4" for="id_email">Correo:</label>
            <div class="col-sm-4">
               {{ form.email }}
            </div>
            <label class="help-block col-sm-3"></label>
        </div>

    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
</div>
{% endblock %}