{% extends 'main/page.html' %}


{% block content %}
<br>
<div align="center">
    <fieldset>
        <legend>Editar Tema</legend>
    </fieldset>
    <form action="" class="form-horizontal" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label class="control-label col-sm-4" for="{{form.descripcion_tema.id_for_label}}">{{form.descripcion_tema.label}}</label>
            <div class="col-sm-4">
                {{form.descripcion_tema}}
            </div>
            <label class="help-block col-sm-3"></label>
        </div>
          <div class="form-group">
            <label class="control-label col-sm-4" for="{{form.descripcion.id_for_label}}">{{form.descripcion.label}}</label>
            <div class="col-sm-4">
                {{form.descripcion}}
            </div>
            <label class="help-block col-sm-3"></label>
        </div>
        <button id="submit" class="btn btn-primary" type="submit">Guardar</button>
        <a class="btn btn-warning" role="button" href="{% url 'administracion:listartema' %}">Cancelar</a>
    </form>
</div>
{% endblock %}