{% extends 'main/page.html' %}
{% block title %} Login {% endblock %}

{% block content %}
<div align="center" class="container-fluid">
  <form action='' method='post' class="form-horizontal" id="formcambiopassword">
        {% csrf_token %}
       <div class="form-group">
        {% if form.old_password.errors %}
           <label>Contraseña Incorrecta </label>
        {% endif %}
        <label  class="control-label col-sm-4" for="id_old_password">Contraseña Actual</label>
            <div class="col-sm-4">
                <input type="password" name="old_password" autofocus required id="id_old_password" class="form-control input-sm">
            </div>
            <label class="help-block col-sm-3"></label>
        </div>
         <div class="form-group">
          {{form.new_password1.errors}}
        <label class="control-label col-sm-4"  for="id_new_password1">Nueva contraseña</label>
            <div class="col-sm-4">
               <input type="password" name="new_password1" required id="id_new_password1" class="form-control input-sm">
            </div>
            <label class="help-block col-sm-3"></label>
        </div>
         <div class="form-group">
             {% if form.new_password2.errors %}
             <label>Las contraseñas no coinciden</label>
             {% endif %}
        <label class="control-label col-sm-4"  for="id_confirmpassword">Repita Nueva contraseña</label>
            <div class="col-sm-4">
                <input type="password" name="new_password2" required id="id_new_password2" class="form-control input-sm">
            </div>
            <label class="help-block col-sm-3"></label>
        </div>
       <div class="alert alert-danger alert-dismissible fade in" hidden>

    La contraseña debe  contener entre 8 y 16 caracteres, tener  al menos un numero, letra mayúscula, letra minúscula.
  </div>

        <input class="btn btn-primary" type="submit" value="Cambiar"/>
  </form>
    <script>

 $("#formcambiopassword").on('submit', function(evt){
 var input = document.getElementById('id_new_password1');
 if (input.value.match(/^(?=\w*\d)(?=\w*[A-Z])(?=\w*[a-z])\S{8,16}$/)) {
}else{
$(".alert").show();
 evt.preventDefault();
}


 });

</script>
</div>
{% endblock %}