{% extends 'main/page.html' %}
{% block title %} Login {% endblock %}

{% block content %}
<div align="center" class="container-fluid">
  <form action='' method='post' class="form-horizontal">
      {% csrf_token %}
      <input type = "hidden" name = "next" value = "{{next}}" />
      <br>
      <fieldset>
            <legend><span class="glyphicon glyphicon-user"></span>Seleccionar Proyecto</legend>
      </fieldset>
      {% if proyectos %}
      <div class="form-group">
            <label class="control-label col-sm-4" for="proyecto">Proyectos</label>
            <div class="col-sm-4">
                <select name="proyecto" class="form-control input-sm" id="proyecto">
                    {% for proy in proyectos %}
                        <option value="{{ proy.id }}">{{proy.nombre}}</option>
                    {% endfor %}
                </select>
            </div>
      </div>
      <br>

        <input class="btn btn-primary" type="submit" value="Seleccionar"/>
  </form>
   {% else %}
        <div class="alert alert-dismissible alert-success">
            No hay registros de proyectos para este usuario.
        </div>
    {% endif %}
</div>
{% endblock %}