{% extends 'main/page.html' %}


{% block content %}
<script> var cont = 0;</script>
<div align="center">
    <br>
    <fieldset>
        <legend>Listado de Usuarios</legend>
    </fieldset>
    {% if object_list %}
        <table class="table" style="text-align: center;">
            <thead style="background-color: #000000; color: white;">
                <tr>
                    <th style="text-align: center;" width="5%">No. </th>
                    <th style="text-align: center;">Nombre Usuario</th>
                    <th style="text-align: center;">Nombres</th>
                    <th style="text-align: center;">Apellidos</th>
                    <th style="text-align: center;">Correo</th>
                    <th style="text-align: center;">Rol</th>
                    <th style="text-align: center;">Acciones</th>
                </tr>
            </thead>
            <tbody align="center">
                {% for usuario in object_list %}
                <tr>
                    <td class="col-sm-1"><script>cont = cont+1; document.write(cont); </script></td>
                    <td class="col-sm-2">{{usuario.username}}</td>
                    <td class="col-sm-2">{{usuario.first_name}}</td>
                    <td class="col-sm-2">{{usuario.last_name}}</td>
                    <td class="col-sm-2" style="word-wrap: break-word;">{{usuario.email}}</td>
                    <td class="col-sm-2">{{usuario.groups.all.0.name}}</td>
                    <td class="col-sm-2">
                         <div class="btn-group">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Acción <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li ><a href="{% url 'administracion:editarusuario' usuario.id %}"><span class="glyphicon glyphicon-edit"></span>Editar Usuario</a></li>
      <li><a href="{% url 'administracion:eliminarusuario' usuario.id %}"><span class="glyphicon glyphicon-remove"></span>Eliminar Usuarioe</a></li>

  </ul>
</div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Error!  </strong>No hay registros de Usuarios <a href="{% url 'administracion:crearusuario' %}" class="alert-link"> Debe agregar o crear un Usuario</a>.
        </div>
    {% endif %}
</div>
{% endblock %}